<div class="hero-unit">

<h1>Health Care Stories</h1>
<p>
	On the ground with the new Health Care Law in action <%= link_to "testing", "#" %> 
</p>
<p> 
<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-success btn-large" %>
</p>
</div>


